.carru-input {position: absolute; display: none}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-carru {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.btn-carrucel {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.material-icons.md-36 { font-size: 36px; color: #03A9F4 }

.btn-carrucel {
  background: #000000;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  border: 3px solid #fff;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-carrucel2 {
    background: #95c11e !important;
    width: 90px !important;
    height: 90px !important;
  }

.btn-carrucel:not(:first-child) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  
  z-index: 0;
  -webkit-transition: all 0.10s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.btn-carrucel:nth-child(2) {top:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.btn-carrucel:nth-child(3) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.btn-carrucel:nth-child(4) {left:0px;;-webkit-transition-delay: 0.2s;transition-delay: 0.2s}
.btn-carrucel:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.btn-carrucel:nth-child(6) {top:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}
.btn-carrucel:nth-child(7) {top:0px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}
.btn-carrucel:nth-child(8) {left:0px;-webkit-transition-delay: 0.6s;transition-delay: 0.6s}
.btn-carrucel:nth-child(9) {top:0px;left:0px;-webkit-transition-delay: 0.7s;transition-delay: 0.7s}
.btn-carrucel:nth-child(10) {left:0px;-webkit-transition-delay: 0.8s;transition-delay: 0.8s}
.btn-carrucel:nth-child(11) {top:0px;left:0px;-webkit-transition-delay: 0.9s;transition-delay: 0.9s}
.btn-carrucel:nth-child(12) {left:0px;-webkit-transition-delay: 0.10s;transition-delay: 0.10s}
.btn-carrucel:nth-child(13) {top:0px;left:0px;-webkit-transition-delay: 0.11s;transition-delay: 0.11s}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(2) {
  top:-150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(3) {
  top:-131px;left:76px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(4) {
    top:-77px;left:135px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(5) {
  left:150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(6) {
  top:85px;left:142px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(7) {
  top:135px;left:78px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(8) {
    top:150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(9) {
    top:131px;left:-76px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(10) {
    top:77px;left:-135px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(11) {
    left:-150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}
input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(12) {
    top:-85px;left:-142px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}
input#toggle:checked ~ #show-menu-carru .btn-carrucel:nth-child(13) {
    top:-135px;left:-78px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn, .closeBtn {
  position: absolute;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel .menuBtn {
  transform: translateY(-50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu-carru .btn-carrucel .closeBtn {
  transform: translateY(0px);
  opacity: 1;
}

#box3 {
    display:block;
    position:absolute;
    height:70px;
    width:70px;
    right:50%;
    top:53%;
    margin:-35px -35px 0 0;
}

.tooltipcarrucel {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipcarrucel .tooltiptextcarrucel {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipcarrucel .tooltiptextcarrucel::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipcarrucel:hover .tooltiptextcarrucel {
  visibility: visible;
  opacity: 1;
}

.tablacarrucel{
  border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 6px;
}

.tablatd{
  border-right: 3px solid white;
}

.tablacarrucel h3 {
  color: #95c11e !important;
}

.tablacarrucel p {
  color: #fff !important;
  text-align: justify !important;
}
