/*PRELOADER*/
#jpreOverlay {background-color: #FFF; height: 100%; width: 100%; position: fixed; z-index: 2000; top: 0;left:0; }
#jpreSlide {display: block; width: 60%; margin: auto; position: relative; top: 50%; text-align: center; color: #81b000!important; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
#jpreSlide i {font-size: 30px; margin-bottom: 20px; }

/*Login screen custom styles*/
.login-layout {background-color: #f1f2f7;}
.login-logo {position:relative;width: 180px;margin:40px 0 12px 0;border-bottom:1px solid #ccc;padding-bottom:15px;padding-left:20px;}
.login-layout .widget-box {background: #fff}
.login-box .toolbar {background: #32323a;border-top: 1px solid #e5e5e5;}
.header-login {color:#767676;}
.login-box .forgot-password-link {color: #aeb2b7!important;font-size: 13px!important;}
.login-box .toolbar>div:first-child+div>a {margin-right: 35px;}
.login-box .toolbar>div:first-child {width: 100%;display: inline-block;padding: 9px 0 11px;}
.forgot-box .back-to-login-link, .signup-box .back-to-login-link {color: #fff!important;font-size: 13px!important;}
.user-signup-link {font-size: 13px!important;display: block;text-align: center}


h3.dashboard {text-transform: uppercase;font-weight: lighter;letter-spacing: 4px;font-size: 12px;margin:0;}

.imgWrapper4, .imgWrapper3 {
  font-size: 0;
  text-align: center;
}
.imgWrapper4 .imgResponsiva,
.imgWrapper3 .imgResponsiva {
  display: inline-block;
  font-size: inherit;
}
.imgWrapper4 .imgResponsiva {width: 25%; max-width: 345px;}
.imgWrapper3 .imgResponsiva {width: 33.3%; max-width: 345px;}

.imgResponsiva img {
  height: auto;
  width: 100%;
}

.bgcolor1{
  background-color: rgb(5, 8, 19) !important
}

.bgcolor2{
  background-color: #E0FFFF !important
}
h1{
  padding:0px !important;
     }
/*navbar*/
.navbar {background:rgb(0, 0, 0);border-bottom:1px solid #e5e5e5;}
.ace-nav>li {line-height: 55px;height: 53px;}
.ace-nav>li>a {background:inherit!important;color:#bbd861;}
.ace-nav>li>a:hover, .ace-nav>li>a:focus, .ace-nav>li>a:active {background:inherit;color:#bbd861;}

.ace-nav>li.light-black>a {
  background-color: #000000 !important;
}

.ace-nav>li.light-green1>a {
  background-color: #c7d300 !important;
}
.ace-nav>li.light-green2>a {
  background-color: #95c11e !important;
}

.ace-nav>li.light-green3>a {
  background-color: #76b82b !important;
}

.ace-nav>li.light-green4>a {
  background-color: #5da31a !important;
}

.color2{
  color: #96bf31 !important;
}

.fuente{
    font-family: 'futura_bkbook' !important;
}

.flota-izq{
    float: left !important;
}


/*Sidebar*/

.no-skin .sidebar {background:#f2f2f2 !important;}
.nav-list>li {color:#000000;  border:0;border-bottom: 1px solid rgba(255,255,255,0.05)!important;}
.nav-list>li>a {background-color: #32323a;color: #aeb2b7;height: 46px;line-height:26px}
.nav-list>li:first-child {border-top:0;}
.nav-list>li:before {background-color: #2B7DBC;top:0;height:46px;}
.no-skin .nav-list>li.active:after {border: 2px solid #2B7DBC;}
.no-skin .nav-list>li.active>a {font-weight: 700;color: #000;}
.no-skin .nav-list li.active>a:after {border-right-color: #2B7DBC; top: 9px;}
.no-skin .nav-list>li:hover>a {background-color: #000;color: rgb(5, 5, 5);}
.no-skin .nav-list>li>a {background-color: #000 ;color: #eee;}
.no-skin .nav-list>li.active>a, .no-skin .nav-list>li.active>a:hover, .no-skin .nav-list>li.active>a:focus {
  background-color: inherit;
}




/*Breadcrumb*/
.breadcrumbs {background-color: #666; border-bottom: 1px solid #e5e5e5; height:46px}
.breadcrumb { margin: 8px 22px 8px 20px; font-size: 11px !important ;}
.breadcrumb>li {position:relative;background:#fff;height:28px;line-height: 28px;padding-left:10px;}
.breadcrumb>li i {color:#fff;}
.breadcrumb>li+li:before {display: none}
.breadcrumb>li:first-child {border-radius:4px 0 0 4px;}
.breadcrumb>li:first-child a {padding-left: 5px;}
.breadcrumb li:first-child a:before {display:none;}
.breadcrumb li.active {padding-left:10px;}
.breadcrumb>li.active i {color:#666;}
.breadcrumb>li a {display: inline-block;color: #fff;padding: 0 15px;}
.breadcrumb li a:before {content: "";border-top: 14px solid transparent;border-bottom: 14px solid transparent;border-left: 10px solid #666;position: absolute;left: 0;top: 0;}
.breadcrumb li a:after {content: "";border-top: 14px solid transparent;border-bottom: 14px solid transparent;border-left: 10px solid #fff;position: absolute;right: -10px;top: 0;z-index: 10;}
      /*breadcrumb item colors */
      .breadcrumb>li                                    {background-color:  #5ab031 }
      .breadcrumb li a:after                            {border-left-color: #5ab031 }
      /*Breadcrumb background colors*/
      .breadcrumbs                                      {background-color:  #fafafa}
      .breadcrumb li a:before                           {border-left-color: #fafafa}

      .breadcrumb li.active, .breadcrumb li.active a    {background-color:  #eaeaea; color:#6c6c6c; text-decoration: none}
      .breadcrumb li.active a:after                     {border-left-color: #eaeaea}

.home-icon {font-size: 16px!important;vertical-align: inherit!important}

/*Page title*/
.page-header {margin: 5px 0 12px;border-bottom: 0;padding-bottom: 16px;padding-top: 16px;background:#fff;position:relative;}
.page-header h1 {color:#6c6c6c;padding-left:5px;text-transform:uppercase;}
.page-header span.page-header-small {padding-left: 15px;margin-bottom:5px;display:block;color: #767676;font-weight:lighter;font-size:12px;text-transform:uppercase;}
.page-header-pie {float:left;display: block;padding:0 15px;border-right:1px solid #F1F1F1;margin-right:15px;}
.header-pie-percent {font-size: 22px;font-weight: bold}
.header-pie-percent small{font-size: 10px}

/*Row types*/
.row-widget-header {
  padding: 15px;
  color: #767676;
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #eff2f7;
  background: #fafafa;
  margin-bottom: 16px;
}
.row.row-widget {
  margin: 5px 0 12px;
  border-bottom: 0;
  padding-bottom: 0px;
  padding-top: 0px;
  background: #fff;
}

/*Buttons*/

.btn-app-md {
      white-space: normal;
     word-break: break-all;
    width: 110px;
}

tr th {
    background-color: gray;
    color: white;
    height: auto !important;
    font-size: 12px;
}
tr td{
    border: 1px solid blue;
}
a.logro-areas-button {background:#fa8564;display:block;color:#fff;padding:10px;margin-bottom: 16px;
}
a.logro-areas-button:hover {color:#fff;opacity: .9;
}
a.logro-areas-button .logro-areas-button-percent {float:left;}
a.logro-areas-button .logro-areas-button-text {padding-left:10px;display:table-cell;vertical-align: middle;height:50px;line-height: normal;
}
.btn-primary-dashboard {background: #93c020!important;border-color:#93c020;}
.btn-primary-dashboard:hover {background: #7ea811!important;border-color:#7ea811;}

/*Table*/
.table-dashboard {background:#fff;border:1px solid #eff2f7;}
.table-dashboard>thead>tr {background:#fff;}
.table-dashboard>thead>tr>th {padding:15px;color: #767676;font-weight:lighter;font-size:12px;text-transform:uppercase;border-bottom: 1px solid #eff2f7;background:#fafafa;}
.table-dashboard>tbody>tr>td {padding:10px 15px;vertical-align: middle;border-bottom:1px solid #eff2f7!important}
.table-dashboard>tbody>tr>td.view-all {background:#fafafa;}

.table-dashboard-country {}
.table-dashboard-country-flag {width: 25px;height:25px;float:left;margin-right:10px;border:2px solid #fff;box-shadow:2px 2px 3px #ccc;background: #eee;overflow:hidden;border-radius: 50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.table-dashboard-country-flag img{width: 21px}
.table-dashboard-country-name {float:left;}
.table-dashboard-country-name a{line-height:28px}

.table-dashboard-area {}
.table-dashboard-area-color {width: 25px;height:25px;float:left;margin-right:10px;border:2px solid #fff;box-shadow:2px 2px 3px #ccc;background: #eee;overflow:hidden;border-radius: 50%;-webkit-border-radius:50%;-moz-border-radius:50%;}

.table-dashboard-area-name {float:left;}
.table-dashboard-area-name a{line-height:28px}

/*Table cell width*/

.cell-width-1-12 {width:8.33333333333%}
.cell-width-2-12 {width:16.6666666667%}
.cell-width-3-12 {width:25%}
.cell-width-4-12 {width:33.3333333333%}
.cell-width-5-12 {width:41.6666666667%}

/*Info Cards*/

.dashboard-info-card {
	display:block;
	padding-top:30px;
	padding-bottom:30px;
	background: #fff;
  margin-bottom:12px;
}
.dashboard-info-card-pie {
	display:block;
	margin-bottom: 12px;
}
.dashboard-info-card-pie-percent {font-size:30px;}
.dashboard-info-card-data {}
.dashboard-info-card-data-title {font-size:30px;color:#79798a;}
.dashboard-info-card-data-subtitle {font-size:12px; color:#8394a9;}
.dashboard-info-card-bubble {position:relative;width: 50px;height: 50px;line-height:55px;padding: 0px;margin:0 auto;margin-bottom: 17px;background: #1D7792;-webkit-border-radius: 80px;-moz-border-radius: 80px;border-radius: 80px;}
.dashboard-info-card-bubble:after {content: '';position: absolute;border-style: solid;border-width: 15px 6px 0;border-color: #1D7792 transparent;display: block;width: 0;z-index: 1;bottom: -12px;left: 20px;}
.dashboard-info-card-bubble i {color:#fff;font-size: 20px;}

.dashboard-info-card-bubble0 {position:relative;width: 50px;height: 50px;line-height:55px;padding: 0px;margin:0 auto;margin-bottom: 17px;background: #93C020;-webkit-border-radius: 80px;-moz-border-radius: 80px;border-radius: 80px;}
.dashboard-info-card-bubble0:after {content: '';position: absolute;border-style: solid;border-width: 15px 6px 0;border-color: #93C020 transparent;display: block;width: 0;z-index: 1;bottom: -12px;left: 20px;}
.dashboard-info-card-bubble0 i {color:#fff;font-size: 20px;}

.dashboard-info-card-bubble1 {position:relative;width: 50px;height: 50px;line-height:55px;padding: 0px;margin:0 auto;margin-bottom: 17px;background: #FC2B2B;-webkit-border-radius: 80px;-moz-border-radius: 80px;border-radius: 80px;}
.dashboard-info-card-bubble1:after {content: '';position: absolute;border-style: solid;border-width: 15px 6px 0;border-color: #FC2B2B transparent;display: block;width: 0;z-index: 1;bottom: -12px;left: 20px;}
.dashboard-info-card-bubble1 i {color:#fff;font-size: 20px;}

.dashboard-info-card-bubble2 {position:relative;width: 50px;height: 50px;line-height:55px;padding: 0px;margin:0 auto;margin-bottom: 17px;background: #F7C64C;-webkit-border-radius: 80px;-moz-border-radius: 80px;border-radius: 80px;}
.dashboard-info-card-bubble2:after {content: '';position: absolute;border-style: solid;border-width: 15px 6px 0;border-color: #F7C64C transparent;display: block;width: 0;z-index: 1;bottom: -12px;left: 20px;}
.dashboard-info-card-bubble2 i {color:#fff;font-size: 20px;}

.dashboard-info-card-bubble3 {position:relative;width: 50px;height: 50px;line-height:55px;padding: 0px;margin:0 auto;margin-bottom: 17px;background: #F7C64C;-webkit-border-radius: 80px;-moz-border-radius: 80px;border-radius: 80px;}
.dashboard-info-card-bubble3:after {content: '';position: absolute;border-style: solid;border-width: 15px 6px 0;border-color: #F7C64C transparent;display: block;width: 0;z-index: 1;bottom: -12px;left: 20px;}
.dashboard-info-card-bubble3 i {color:#fff;font-size: 20px;}

.percentage-areas .dashboard-info-card-pie-percent {font-size: 16px}


.col-sm-12.groove-dashboard 
{
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 14px 0 12px;
    margin-top: 14px;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
}

.infobox-green2 {
  color: #9ABC32;
  border-color: #9ABC32;
  display: inline-block;
    font-size: 17px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0,0,0,.15);
    text-align: center 
}

.infobox-blue2 {
  color: #191970;
  border-color: #191970;
  display: inline-block;
    font-size: 17px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0,0,0,.15);
    text-align: center 
}


.infobox-brown2 {
  color: #8B4513;
  border-color: #8B4513;
  display: inline-block;
    font-size: 17px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0,0,0,.15);
    text-align: center 
}

.panel .panel-default
{
   margin:0px; 
   padding: 0px;
   border: 0;
   
}
.badge-success.reds{
  background-color: #ff2500;
}

.input-sm.achique{
  width:120px
}

.text-center
{
  text-align: center;
}

/* .panel .panel-success{
    border: 6px solid #c3e6cb ;!important;
} */

.col-sm-12.groove-dashboard2 
{
  position: relative;
  margin: 0px 0 0px;
    margin-top: -10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top:0px;
  padding-bottom: 0px;
  border:0px;
}

.marco{
  border: 6px solid #5ab031;
  box-shadow: 3px 3px 5px #999;
  /*#c3e6cb !important;  */
  margin-top: 0px;
}

.marco2 {
     border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #22c1c3, #fdbb2d);
    border-image-slice: 1;
    margin-top: 0px;
}

.panel-body
{
  margin:0px;
  padding:0px;
}

.margen-top{
  margin-top:0px !important;
  padding-top:0px;
}

.col-sm-3.groove-dashboard 
{
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: none none  none  groove ;
}

.col-sm-9.groove-dashboard 
{
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: none none  none  groove ;
}
.col-sm-4.groove-dashboard 
{
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: none none  none  groove ;
}

.col-sm-5.groove-dashboard 
{
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: none none  none  groove ;
}

.dashboard-achique
{
  height: 200px;
	min-width: 210px;
	max-width: 250px;
}


/*Table top 10*/
span.percentage-top-10 {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color:#fff;
  font-size: 12px;
}
span.percentage-top-10 small {font-size:10px;}

/*ace custom styles*/

.page-content, .main-container:before {background-color: #f1f2f7;}
.user-info { top: 11px;}
.green {color: #93c020!important;}
.signup-box .toolbar {background: #93c020;border-top:1px solid #93c020;}

/*Progress bar*/
.progress {margin:0;position: relative;overflow: visible;padding-right:30px;}
.progress-bar {position:relative;background-color: #6c6c7a}
.progress-bar[data-percent]:after {
  line-height: 19px;
  font-size: 12px;
  content: attr(data-percent);
  left: 100%;
  position: absolute;
  background:inherit;
  width: 30px;
  padding-right: 5px;
  text-align: right;
}
.progress-bar-49 {background-color:#fa6464;}
.progress-bar-59 {background-color:#fab264;}
.progress-bar-100 {background-color:#93c020;}

.progress-bar-49-percent-number {color:#fa6464;}
.progress-bar-59-percent-number {color:#fab264;}
.progress-bar-100-percent-number {color:#93c020;}


/*Box shadow elements*/

{
	box-shadow: 0px 1px 2px rgba(0,0,0,0.10)
}

/*Icon styles*/
.icon-rounded {display:inline-block;height:20px;width:20px;line-height: 20px;text-align: center;background: #efefef;border-radius: 50%;}
.icon-space-right {margin-right: 10px}
.icon-space-left {margin-left: 10px}

/*Rounded elements*/
.table-rounded, 
.dashboard-info,
.dashboard-info-card,
.progress,
.page-header,
.row-white,
a.logro-areas-button,
.login-layout .widget-box,
.btn
{
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	overflow: hidden
}


/*BUTTON COLOURS BY ID*/
a#matematicas {background:#2b5b91}
a#lenguaje    {background:#912b67}
a#ciencias    {background:#1fb5ad}
a#historia    {background:#9972b5}
a#fisica      {background:#88d7bd}
a#arameo      {background:#e48b2b}

/*TABLE AREA COLOURS BY ID*/
.table-dashboard-area-color#matematicas {background:#2b5b91}
.table-dashboard-area-color#lenguaje    {background:#912b67}
.table-dashboard-area-color#ciencias    {background:#1fb5ad}
.table-dashboard-area-color#historia    {background:#9972b5}
.table-dashboard-area-color#fisica      {background:#88d7bd}
.table-dashboard-area-color#arameo      {background:#e48b2b}

/*HEADER PIE COLOURS*/
