.margen-top { 
	margin-top:-40px;
} 	

img {
  max-width: inherit;
  width: inherit;
}

@media print{
  .oculto-impresion, .oculto-impresion *{
    display: none !important;
  }
}

@media screen{
  .oculto-pantalla, .oculto-pantalla *{
    display: none !important;
  }
}

@page 
    {
        size:  auto;   /* auto es el valor inicial */
        margin: 0mm;  /* afecta el margen en la configuración de impresión */
    }
	
