:root {
    --main-bg-color:#3d9970; 
	--main-label-color:#608000; 
	--main-border-color:#F5FFFA; 
	--main-logo-color:#056D57;
	--main-user-color:#FFD700; 
	--main-disabled-color: #FFFFF1; 
	--main-th-color:#F5F5F5;
	--main-tr-color:#f5f9f7;
	--main-panel-color:#D2E1BA;
	/*#FFD700;  amarillo titulo tab viejo */
}
#navbar{
	background: var(--main-bg-color)  !important;
	/* 	#f00 naranja 
	#dff0d8 verder success
	#8FBC8F verde claro DarkSeaGreen  
	#437043 verde tenue DarkSeaGreen mas oscuro
	#99cc00 verde para etiqueta
	#86b300 verde para etiqueta medio oscuro
	#00b300 verde para etiquetra oscuro
	#608000 verde para etiqueta mas oscuro
	#00008b azul oscuro
	#4d4dff azul brillante
	#6699ff azul claro
	#0044cc azul marino
	#006680 azul agua marina
	#6495ED azul claro cielo
	#00BFFF azul cielo profundo
	#1E90FF azul dodger semiclaro
	#87CEEB azul blue sky
	#ffbf80 piel
	#ff8000 naranja amarillenta
	#663300  marron oscuro
	#bf8040 marron claro
	#DEB887 marron muy claro
	#990000 vino tinto opaco
	#ff0000 rojo
	#802000 caoba
	#ffff99 amarillo pollito
	#e6e600 amarillo verdoso
	#FFD700 amarillo dorado
	#DAA520 amarillo mostaza casi marron
	#FFFACD amarillo limon muy claro
	#FAFAD2 amarillo limon mas claro
	#FFFFE0 amarillo light muy muy claro
	#FFFAFA amarillo snow demasiado claro
	#FFFFF1 amarillo fondo claro
	#b3b300 verde oliva opaco
	#3d9970 verde oliva oscuro para border
	#00CED1 verde turquesa
	#40E0D0 verde turquesa brillante
	#228B22 verde bosque
	#90EE90 verde brillante
	#F5FFFA verde menta muy claro
	#8FBC8F verde opaco ocre
	#E0FFFF verde cyan
	#9ACD32 verde amarillento
	#f5f7f2 verde ocre claro
	#f5f9f7 verde agua clara (usado en los tab)
	#D2E1BA verde opaco para el panel
	#22B916 verde brillante con amarillo
	#0C6405 verde oscuro
	#660033 morado
	#990099 violeta
	#E6E6FA lavanda (lila)
	#ff00ff fuscia
	#a5aec6 gris mediano
	#b0aca3 plomo
	#DCDCDC gris claro
	#F0E68C Kaki
	#F5F5F5 blanco humo
	*/
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Open Sans" ;
  font-size:24px; 
  text-shadow: 0 2px 0 rgba(255, 255, 255, .60);
  color: inherit;
}  
.panel-principal {
  border-color: var(--main-panel-color);
}
.panel-principal > .panel-heading {
  color: var(--main-logo-color);
  background-color: var(--main-panel-color);
  border-color: var(--main-panel-color);
}
.panel-principal > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: var(--main-panel-color);
}
.panel-principal > .panel-heading .badge {
  color: var(--main-logo-color);
  background-color:var(--main-panel-color);
}
.panel-principal > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: var(--main-panel-color);
}

.accordion-orange.panel-group .panel {
    border-radius: 0;
    border-color: #ff851b;
    background-color: #FFF;
    box-shadow: none;
	color: #ff851b;
	font-size:14px;
}

.panel-orange {
  border-color: #ff851b;
}
.panel-orange > .panel-heading {
  color: #fff;
  background-color: #ff851b;
  border-color: #ff851b;
}
.panel-orange > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ff851b;
}
.panel-orange > .panel-heading .badge {
  color: #ff851b;
  background-color: #fff;
}
.panel-orange > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ff851b;
  
}

.accordion-primario.panel-group .panel {
    border-radius: 0;
    border-color:  #337ab7;
    background-color: #FFF;
    box-shadow: none;
	color:  #337ab7;
	font-size:14px;
}

.panel-content {
  border-color: #d6e9c6;
}
.panel-content > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-content > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-content > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-content > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}


.panel-primario {
  border-color: #337ab7;
}
.panel-primario > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primario > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primario > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primario > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}

.accordion-verde.panel-group .panel {
    border-radius: 0;
    border-color:  #d6e9c6;
    background-color: #FFF;
    box-shadow: none;
	color:  #dff0d8;
	font-size:14px;
}
.panel-verde {
  border-color: #d6e9c6;
}
.panel-verde > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-verde > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-verde > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-verde > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}

.accordion-rojo.panel-group .panel {
    border-radius: 0;
    border-color:  #ebccd1;
    background-color: #FFF;
    box-shadow: none;
	color: #f2dede;
	font-size:14px;
}
.panel-rojo {
  border-color: #ebccd1;
}
.panel-rojo > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-rojo > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-rojo > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-rojo > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

.accordion-morado.panel-group .panel {
    border-radius: 0;
    border-color:  #555299
    background-color: #FFF;
    box-shadow: none;
	color: #555299;
	font-size:14px;
}
.panel-morado {
  border-color: #605ca8;
}
.panel-morado > .panel-heading {
  color:  #fff;
  background-color: #605ca8;
  border-color: #605ca8;
}
.panel-morado > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #605ca8;
}
.panel-morado > .panel-heading .badge {
  color: #605ca8;
  background-color: #a94442;
}
.panel-morado > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #605ca8;
}
/* <div class = "bg-clearfix clearfix container-fluid"> */
.bg-clearfixs {
   background-color: var(--main-bg-color) ;
  color:var(--main-label-color) ;
}

.accordion-oliva.panel-group .panel {
    border-radius: 0;
    border-color:  #3d9970;
    background-color: #FFF;
    box-shadow: none;
	color:  #dff0d8;
	font-size:14px;
}
.panel-oliva {
  border-color: #d6e9c6;
}
.panel-oliva > .panel-heading {
  color: #fff;
  background-color: #3d9970;
  border-color: #d6e9c6;
}
.panel-oliva > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-oliva > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-oliva > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}

.accordion-azul.panel-group .panel {
    border-radius: 0;
    border-color:  #bce8f1;
    background-color: #FFF;
    box-shadow: none;
	color:  #31708f;
	font-size:14px;
}
.panel-azul {
  border-color: #bce8f1;
}
.panel-azul > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-azul > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-azul > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-azul > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}

.accordion-amarillo.panel-group .panel {
    border-radius: 0;
    border-color:   #faebcc;
    background-color: #FFF;
    box-shadow: none;
	color:   #8a6d3b;
	font-size:14px;
}
.panel-amarillo {
  border-color: #faebcc;
}
.panel-amarillo > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-amarillo > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-amarillo > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-amarillo > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.bg-clearfix {
  background-color: var(--main-tr-color) ;
  color:var(--main-label-color) ;
}

.clearfixs {
  /* overflow: auto; */
  zoom: 1.1;
   /* border: 2px solid var(--main-border-color); */
	/*  border-radius: 1%; */
	/*  color: #fff !important; */
	 -webkit-box-shadow: 0 0 3px 3px rgba(28, 104, 8, 0.3);
	box-shadow: 0 0 3px 3px rgba(28, 104, 8, 0.3);
	color: var(--main-label-color)  !important;
	font-weight: 600;
	font-family: "Open Sans";
	padding-top: 20px;
	padding-bottom: 5px;
	line-height:6px;
	width:100%;
	margin:auto;
	align:center !important;
}	


.clearfix {
  /* overflow: auto; */
  zoom: 1.1;
   border: 1px solid var(--main-border-color);
	/*  border-radius: 1%; */
	/*  color: #fff !important; */
	 -webkit-box-shadow: 0 0 3px 3px rgba(28, 104, 8, 0.3);
	box-shadow: 0 0 3px 3px rgba(28, 104, 8, 0.3);
	color: var(--main-label-color)  !important;
	font-weight: 600;
	font-family: "Open Sans";
	padding-top: 20px;
	padding-bottom: 5px;
	line-height:6px;
	width:75%;
	margin:auto;
	align:center !important;
}	
.text-principal {
  color: var(--main-label-color) !important;
}
.text-logo {
  color: var(--main-user-color) !important;
}
.linea-grid {
 background-color: var(--main-bg-color) ;	
}
.caja-info {
 background-color: var(--main-panel-color) !important;
 color: var(--main-logo-color) !important;
  -webkit-box-shadow: 0 0 3px 3px rgba(28, 104, 8, 0.3);
	box-shadow: 0 0 3px 3px rgba(28, 104, 8, 0.3);
 font-weight: bolder;
 font-family: "Open Sans";
 font-size:18px;
 text-align: right;
 padding:8px;
 margin-bottom:10px;
 margin-left:.5%;
 width:99%;

}
table tbody tr:nth-child(odd) td{
    background-color:var(--main-disabled-color) ;
}
table tbody tr:nth-child(even) td{
    background-color:var(--main-tr-color) ;
} 


/* input {
border: var(--main-label-color) 3px solid;
padding:0 0 0 3px;
font-family:Tahoma,Georgia,serif;
font-weight: lighter;
color:#007EF4;
font-size: 12px;
line-height: 1.5;
 border-radius: 3px;
} */



/* .input {
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
} */
.chosen-container>.chosen-single,
[class*=chosen-container]>.chosen-single {
    line-height: 21px;
    height: 25px;
    box-shadow: none;
    background: #FAFAFA;
	border: var(--main-label-color) 1px solid;
	padding:0 0 0 3px;
	font-family:Tahoma,Georgia,serif;
	font-weight: lighter;
	/* color:#007EF4; */
}

select.input {
  height: 20px;
  line-height: 30px;
}
textarea.input,
select[multiple].input-sm {
  height: auto;
}
.form-group .form-control {
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: var(--main-label-color) 1px solid;
	padding:0 0 0 3px;
	font-family:Tahoma,Georgia,serif;
	font-weight: lighter;
	/* color:#007EF4; */
}
.form-group select.form-control {
  height: 25px;
  line-height: 30px;
}
.form-group textarea.form-control,
.form-group select[multiple].form-control {
  height: auto;
}
.form-group .form-control-static {
  height: 25px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
   border: var(--main-label-color) 1px solid;
	padding:0 0 0 3px;
	font-family:Tahoma,Georgia,serif;
	font-weight: lighter;
	/* color:#007EF4; */
}
.form-control[disabled],
.form-control[readonly],
input [disabled] .form-control{
background-color: transparent!important; 
color:#007EF4 !important;
}
.form-control[disabled],
.form-control[readonly],
input [readonly] .form-control{
background-color: transparent !important; 
color:#007EF4 !important;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color:transparent;
  opacity: 1;
}
table thead {
  color: var(--main-label-color);
  background-color: var(--main-th-color);
}	
table th {
  color: var(--main-label-color);
  background-color: var(--main-th-color);
}
.btn_accion{
  background-color:var(--main-th-color) !important;
  background: url(/images/accion.png) center; 
  background-repeat: no-repeat;
  background-size: 120px 20px;
}
/* .btn-yellow {
  background: rgb(250, 255, 140);
  color: #574500;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-yellow:hover, .btn-yellow:focus {
  background: rgb(252, 255, 179);
}
.btn-yellow:active {
  background: rgb(247, 255, 71);
} */


.btn-xxl {
  padding: 20px 26px;
  font-size: 35px;
  border-radius: 8px;
}
/* juntar columnas con col- */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.round {
   border-radius: 5px 10px 15px 20px;
 /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
}
 
/* Aplicar gradientes de colores */
/* Nota: no se muestran aquí todos los gradientes que tendrás que
   definir para los diferentes navegadores. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
  ...
}
 
/* Estilos del estado :hover del botón */
/* Uno de los estilos más sencillos y eficaces para el estado :hover
   consiste en subir hacia arriba ligeramente la imagen de fondo del
   botón, pero puedes definir otros estilos adicionales si quieres. */
.btn-ttc:hover {
  background-position: 0 -15px;
}
.main-content-inner{
	background:	#f2f2f2;
}
#breadcrumbs {
	background: transparent;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-gray-light {
  background-color: #f7f7f7;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.bg-blue-active {
  background-color: #20B2AA !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.bg-navy-active {
  background-color: #001a35 !important;
}
.bg-teal-active {
  background-color: #30bbbb !important;
}
.bg-olive-active {
  background-color: #368763 !important;
}
.bg-lime-active {
  background-color: #00e765 !important;
}
.bg-orange-active {
  background-color: #ff7701 !important;
}
.bg-fuchsia-active {
  background-color: #db0ead !important;
}
.bg-purple-active {
  background-color: #555299 !important;
}
.bg-maroon-active {
  background-color: #ca195a !important;
}
[class^="bg-"].disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-gray {
  color: #d2d6de !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}
.link-muted {
  color: #7a869d;
}
.link-muted:hover,
.link-muted:focus {
  color: #606c84;
}
.link-black {
  color: #666;
}
.link-black:hover,
.link-black:focus {
  color: #999;
}
.hide {
  display: none !important;
}
.no-border {
  border: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-shadow {
  box-shadow: none !important;
}
.list-unstyled,
.chart-legend,
.contacts-list,
.users-list,
.mailbox-attachments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-group-unbordered > .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
.flat {
  border-radius: 0 !important;
}
.text-bold,
.text-bold.table td,
.text-bold.table th {
  font-weight: 700;
}
.text-sm {
  font-size: 12px;
}
.jqstooltip {
  padding: 5px !important;
  width: auto !important;
  height: auto !important;
}
.bg-teal-gradient {
  background: #39cccc !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;
  background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
  background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%) !important;
  background: -o-linear-gradient(#7adddd, #39cccc) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important;
  color: #fff;
}
.bg-light-blue-gradient {
  background: #3c8dbc !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important;
  background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;
  background: -moz-linear-gradient(center bottom, #3c8dbc 0%, #67a8ce 100%) !important;
  background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#3c8dbc', GradientType=0) !important;
  color: #fff;
}
.bg-blue-gradient {
  background: #0073b7 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
  background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
  background: -moz-linear-gradient(center bottom, #0073b7 0%, #0089db 100%) !important;
  background: -o-linear-gradient(#0089db, #0073b7) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
  color: #fff;
}
.bg-aqua-gradient {
  background: #00c0ef !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important;
  background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
  background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%) !important;
  background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important;
  color: #fff;
}
.bg-yellow-gradient {
  background: #f39c12 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;
  background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
  background: -moz-linear-gradient(center bottom, #f39c12 0%, #f7bc60 100%) !important;
  background: -o-linear-gradient(#f7bc60, #f39c12) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;
  color: #fff;
}
.bg-purple-gradient {
  background: #605ca8 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important;
  background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
  background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%) !important;
  background: -o-linear-gradient(#9491c4, #605ca8) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important;
  color: #fff;
}
.bg-green-gradient {
  background: #00a65a !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
  background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
  background: -moz-linear-gradient(center bottom, #00a65a 0%, #00ca6d 100%) !important;
  background: -o-linear-gradient(#00ca6d, #00a65a) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
  color: #fff;
}
.bg-red-gradient {
  background: #dd4b39 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important;
  background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
  background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%) !important;
  background: -o-linear-gradient(#e47365, #dd4b39) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important;
  color: #fff;
}
.bg-black-gradient {
  background: #111111 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #2b2b2b)) !important;
  background: -ms-linear-gradient(bottom, #111111, #2b2b2b) !important;
  background: -moz-linear-gradient(center bottom, #111111 0%, #2b2b2b 100%) !important;
  background: -o-linear-gradient(#2b2b2b, #111111) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#111111', GradientType=0) !important;
  color: #fff;
}
.bg-maroon-gradient {
  background: #d81b60 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60), color-stop(1, #e73f7c)) !important;
  background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) !important;
  background: -moz-linear-gradient(center bottom, #d81b60 0%, #e73f7c 100%) !important;
  background: -o-linear-gradient(#e73f7c, #d81b60) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c', endColorstr='#d81b60', GradientType=0) !important;
  color: #fff;
}

.btn.btn-app.btn-xxs {
    width: 16px;
    font-size: 4px;
    border-radius: 8px;
    padding-bottom: 7px;
    padding-top: 8px;
    line-height: 1.45
}

.nav-pills{
margin: 0;
font-size:14px;

height: 35px;
padding-top: 0px;
font-weight: lighter;
font-family: "Open Sans";
background-color: #fff;

  border-bottom: 1px solid #87B87F;
 /* border: 1px solid #87B87F; */
/*  border-radius: 5%; */
 width:100%;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
background-color: #fff;
 border: 1px solid #3d9970;
 border-radius: 5%;
 color: #fff !important;
 -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33);
box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33)
padding-top: 0px;
font-weight: lighter;
font-family: "Open Sans";
height: 33px;
}
.nav-pills >li > a,
.nav-pills >li  > a:hover,
.nav-pills >li > a:focus {
color: #fff;
background-color: #fff;
height: 33px;
padding-top: 0px;
border: 1px solid #87B87F;
border-radius: 5%;
}

.nav-search .nav-search-input {
border: 1px solid #87B87F;
width: 152px;
height: 28px!important;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 4px!important;
font-size: 13px;
line-height: 1.3;
color: #666!important;
z-index: 11;
-webkit-transition: width ease .15s;
-o-transition: width ease .15s;
transition: width ease .15s
}
.nav-search .nav-search-input:focus,
.nav-search .nav-search-input:hover {
border-color: #87B87F
}

.nav-search .nav-search-icon {
color: #87B87F!important;
font-size: 14px!important;
line-height: 24px!important;
background-color: transparent
}
.modal-footer {
  padding-top: 0px;
  text-align: right;
  border-top: 1px solid #8FBC8F;
  background-color:#dff0d8;
}

.modal-header{
 background-color:#8FBC8F;
  border-color: #C5D0DC;
    margin-bottom: 0!important;
    position: relative;
  /*   top: 1px; */
	padding-top: 1;
	padding-bottom: 0;
 color: #dff0d8;
 font-size:24px;
}
.modal-header .close {
  color: #fff;
}


@media (min-width:250px) {
  .modal-peque {
    width: 300px;
	margin: 0px auto;
  }
}
@media (min-width:550px) {
  .modal-media {
    width: 600px;
	margin: 0px auto;
  }
}
@media (min-width: 850px) {
  .modal-largo {
    width: 900px;
	margin: 0px auto;
	
  }
}
@media (min-width: 992px) {
  .modal-superlargo {
    width: 1024px;
	margin: 0px auto;
  }
}
@media (min-width: 992px) {
  .modal-auto {
    width: 95%;
	margin: 0px auto;
  }
}
@media (min-width: 992px) {
  .modal-auto90 {
    width: 90%;
	margin: 0px auto;
  }
}
.width-15 {
    width: 15%!important
}
.width-10 {
    width: 10%!important;
}
.font-auto {
    font-size: auto!important;
}
.top--50{
	margin-top:-50px;
}


